<style>
    .header {
        background-color: #333;
        color: #fff;
        padding: 10px;
    }
    .menu {
        display: flex;
        list-style-type: none;
        padding: 0;
    }
    .menu li {
        margin-right: 10px;
    }
    .menu li a {
        color: #fff;
        text-decoration: none;
    }
    .menu li a:hover {
        text-decoration: underline;
    }
</style>

<div class="header">
    <ul class="menu">
        <li><a href="/users">Users</a></li>
        <li><a href="/groups">Groups</a></li>
        <li><a href="/posts">Posts</a></li>
        <li><a href="/messages">Messages</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Signup</a></li>
    </ul>
</div>
