<!-- views/users/edit.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Group</title>
</head>
<body>
    <h1>Edit Group</h1>
    <form action="/users/update/<%= user._id %>?_method=PUT" method="POST">
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" value="<%= user.name %>" required>
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value="<%= user.email %>" required>
        </div>
        <div>
            <label for="age">Age:</label>
            <input type="number" id="age" name="age" value="<%= user.age %>" required>
        </div>
        <button type="submit">Update Group</button>
    </form>
</body>
</html>
